# Data Cleaning

### My Goal: Apply the fixes from 01_data_quality.
Tasks:

Remove duplicates

Impute/fix missing values (mean/median, forward fill, drop)

Standardize column names (snake_case)

Fix categorical values (e.g., “fb”, “Facebook”, “FB” → Facebook)

Handle outliers (drop, cap, transform)

Save cleaned dataset → /data/processed/marketing_campaigns_cleaned.csv

## Import Libraries

In [19]:
#Libraries

import pandas as pd
import os

## Ingest Data as DF

In [20]:
#LOAD DATA
#LOAD 1ST CSV - 2024 FILE

df1 = pd.read_csv("../data/raw/marketing_campaign_2024.csv")
df2 = pd.read_csv("../data/raw/marketing_campaign_2025.csv")

## Quick Data check

In [21]:
df1.head()

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year
0,2024_0001,Campaign_2024_0001,2024-05-16,2024-08-16,Search,South America,28252,5609,65466,39193.43,79017.74,Youth,Electronics,Desktop,2024
1,2024_0002,Campaign_2024_0002,2024-04-06,2024-10-13,Search,Asia,89608,83584,26865,17291.53,49868.54,Adults,Home,Mobile,2024
2,2024_0003,Campaign_2024_0003,2024-05-08,2024-11-27,Social,Europe,37853,62661,43662,6729.63,63021.28,Seniors,Electronics,Desktop,2024
3,2024_0004,Campaign_2024_0004,2024-01-28,2024-08-03,Display,Africa,10577,41421,75023,15077.58,133106.71,Seniors,Clothing,Desktop,2024
4,2024_0005,Campaign_2024_0005,2024-02-06,2024-08-23,Social,Asia,84039,56010,11283,16877.69,144736.99,Adults,Home,Mobile,2024

In [22]:
df2.head()

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year
0,2025_0001,Campaign_2025_0001,2025-03-04,2025-07-20,Display,North America,7696,3587,15144,11046.09,117455.53,Seniors,Services,Desktop,2025
1,2025_0002,Campaign_2025_0002,2025-04-05,2025-07-25,Print,Asia,79664,30373,75743,16419.25,92144.07,Youth,Home,Tablet,2025
2,2025_0003,Campaign_2025_0003,2025-03-18,2025-12-06,Print,North America,33324,89728,79251,33333.21,24070.68,Youth,Clothing,Desktop,2025
3,2025_0004,Campaign_2025_0004,2025-03-09,2025-11-02,Search,Asia,32528,33793,4948,14340.82,13570.48,Adults,Travel,Mobile,2025
4,2025_0005,Campaign_2025_0005,2025-05-21,2025-09-28,Email,Africa,80785,35905,36563,37133.14,122995.42,Seniors,Services,Tablet,2025

## Standardize Column Names

In [23]:
# df1.columns = df1.columns.str.lower().str.strip().str.replace(' ', '_')
# df2.columns = df2.columns.str.lower().str.strip().str.replace(' ', '_')

for df in [df1, df2]:
    df.columns = (
        df.columns.str.lower()
        .str.strip()
        .str.replace(" ", "_")
    )

In [24]:
df1.columns

Index(['campaign_id', 'campaign_name', 'start_date', 'end_date', 'channel',
       'region', 'impressions', 'clicks', 'conversions', 'spend_usd',
       'revenue_usd', 'target_audience', 'product_category', 'device', 'year'],
      dtype='object')

In [25]:
df2.columns

Index(['campaign_id', 'campaign_name', 'start_date', 'end_date', 'channel',
       'region', 'impressions', 'clicks', 'conversions', 'spend_usd',
       'revenue_usd', 'target_audience', 'product_category', 'device', 'year'],
      dtype='object')

## Convert Data types - Dates, Float & Numeric

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       500 non-null    object
 1   campaign_name     500 non-null    object
 2   start_date        500 non-null    object
 3   end_date          500 non-null    object
 4   channel           500 non-null    object
 5   region            500 non-null    object
 6   impressions       500 non-null    int64
 7   clicks            500 non-null    int64
 8   conversions       500 non-null    int64
 9   spend_usd         500 non-null    float64
 10  revenue_usd       500 non-null    float64
 11  target_audience   500 non-null    object
 12  product_category  500 non-null    object
 13  device            500 non-null    object
 14  year              500 non-null    int64
dtypes: float64(2), int64(4), object(9)
memory usage: 58.7+ KB

In [13]:
for df in [df1, df2]:
    df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')
    df['end_date'] = pd.to_datetime(df['end_date'], errors='coerce')
    df['spend_usd'] = pd.to_numeric(df['spend_usd'], errors='coerce')
    df['revenue_usd'] = pd.to_numeric(df['revenue_usd'], errors='coerce')

In [14]:
#Observe changes in df1

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       500 non-null    object
 1   campaign_name     500 non-null    object
 2   start_date        500 non-null    datetime64[ns]
 3   end_date          500 non-null    datetime64[ns]
 4   channel           500 non-null    object
 5   region            500 non-null    object
 6   impressions       500 non-null    int64
 7   clicks            500 non-null    int64
 8   conversions       500 non-null    int64
 9   spend_usd         500 non-null    float64
 10  revenue_usd       500 non-null    float64
 11  target_audience   500 non-null    object
 12  product_category  500 non-null    object
 13  device            500 non-null    object
 14  year              500 non-null    int64
dtypes: datetime64[ns](2), float64(2), int64(4), object(7)
memory usage: 58.7+ KB

In [41]:
#Observe changes in df2


df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       500 non-null    object
 1   campaign_name     500 non-null    object
 2   start_date        500 non-null    object
 3   end_date          500 non-null    object
 4   channel           500 non-null    object
 5   region            500 non-null    object
 6   impressions       500 non-null    int64
 7   clicks            500 non-null    int64
 8   conversions       500 non-null    int64
 9   spend_usd         500 non-null    float64
 10  revenue_usd       500 non-null    float64
 11  target_audience   500 non-null    object
 12  product_category  500 non-null    object
 13  device            500 non-null    object
 14  year              500 non-null    int64
 15  dataset_year      500 non-null    int64
dtypes: float64(2), int64(5), object(9)
memory usage: 62.6+ KB

## MIssing Values

In [42]:
#Missing Values

for df in [df1, df2]:
    df.fillna({
        'impressions': 0,
        'clicks': 0,
        'conversions': 0,
        'spend_usd': 0,
        'revenue_usd': 0
    }, inplace=True)

## Remove Dups

In [26]:
#Remove Duplicates

for df in [df1, df2]:
    df.drop_duplicates(subset=["campaign_id"], inplace=True)

## Add Dataset Source Column

In [43]:
#The new columns: dataset_year
#This is for me to know which observation is from sinc ei have 2 csv files 

df1["dataset_year"] = 2024
df2["dataset_year"] = 2025

In [31]:
df1["dataset_year"][:5]

0    2024
1    2024
2    2024
3    2024
4    2024
Name: dataset_year, dtype: int64

In [32]:
df2["dataset_year"][:5]

0    2025
1    2025
2    2025
3    2025
4    2025
Name: dataset_year, dtype: int64

## Cross validation Column count

In [44]:
#Always validate

set(df1.columns) - set(df2.columns)
set(df2.columns) - set(df1.columns)

set()

## Combine data set

In [35]:
#Concatinate both clean files
#perp almost done!

df = pd.concat([df1, df2], ignore_index=True)

In [36]:
#validate

df["dataset_year"].value_counts()
df.shape

(1000, 16)

## Keep Changes - Save files as CSV to data/procesed folder

In [45]:
#Save 3 files:
#1st - marketing_campaign_2024_clean.cs
#2nd - marketing_campaign_2025_clean.csv
#3rd - marketing_campaign_all_clean.csv
#The library os is truely a useful tool :)


os.makedirs("../data/processed", exist_ok=True)

df1.to_csv("../data/processed/marketing_campaign_2024_clean.csv", index=False)
df2.to_csv("../data/processed/marketing_campaign_2025_clean.csv", index=False)
df.to_csv("../data/processed/marketing_campaign_all_clean.csv", index=False)

## Validation

In [46]:
#The result

print("Combined dataset shape: ", df.shape)
print(df.info())
print(df.describe())
df.head(10)

Combined dataset shape:  (500, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       500 non-null    object
 1   campaign_name     500 non-null    object
 2   start_date        500 non-null    object
 3   end_date          500 non-null    object
 4   channel           500 non-null    object
 5   region            500 non-null    object
 6   impressions       500 non-null    int64
 7   clicks            500 non-null    int64
 8   conversions       500 non-null    int64
 9   spend_usd         500 non-null    float64
 10  revenue_usd       500 non-null    float64
 11  target_audience   500 non-null    object
 12  product_category  500 non-null    object
 13  device            500 non-null    object
 14  year              500 non-null    int64
 15  dataset_year      500 non-null    int64
dtypes: float64(2), int64(5), object(9)
memory usage: 62.6+ KB
None
        impressions        clicks   conversions     spend_usd    revenue_usd  \
count    500.000000    500.000000    500.000000    500.000000     500.000000
mean   50620.932000  45490.010000  40454.040000  25331.606260   74960.419060
std    28696.593254  26332.801902  24770.481236  14106.355565   44323.307634
min     1073.000000    286.000000     30.000000   1066.110000    1098.660000
25%    24678.500000  24989.750000  18424.000000  13225.042500   36608.575000
50%    50492.000000  44961.000000  39757.500000  24196.835000   74207.955000
75%    74645.500000  68265.250000  62067.500000  37519.815000  113853.337500
max    99902.000000  89865.000000  84813.000000  49838.540000  149713.740000

         year  dataset_year
count   500.0         500.0
mean   2025.0        2025.0
std       0.0           0.0
min    2025.0        2025.0
25%    2025.0        2025.0
50%    2025.0        2025.0
75%    2025.0        2025.0
max    2025.0        2025.0

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year,dataset_year
0,2025_0001,Campaign_2025_0001,2025-03-04,2025-07-20,Display,North America,7696,3587,15144,11046.09,117455.53,Seniors,Services,Desktop,2025,2025
1,2025_0002,Campaign_2025_0002,2025-04-05,2025-07-25,Print,Asia,79664,30373,75743,16419.25,92144.07,Youth,Home,Tablet,2025,2025
2,2025_0003,Campaign_2025_0003,2025-03-18,2025-12-06,Print,North America,33324,89728,79251,33333.21,24070.68,Youth,Clothing,Desktop,2025,2025
3,2025_0004,Campaign_2025_0004,2025-03-09,2025-11-02,Search,Asia,32528,33793,4948,14340.82,13570.48,Adults,Travel,Mobile,2025,2025
4,2025_0005,Campaign_2025_0005,2025-05-21,2025-09-28,Email,Africa,80785,35905,36563,37133.14,122995.42,Seniors,Services,Tablet,2025,2025
5,2025_0006,Campaign_2025_0006,2025-06-10,2025-07-10,Display,Europe,36772,17471,49554,43666.36,105757.18,Youth,Electronics,Tablet,2025,2025
6,2025_0007,Campaign_2025_0007,2025-01-23,2025-08-26,Print,North America,24472,86287,22748,13124.56,50148.15,Adults,Travel,Tablet,2025,2025
7,2025_0008,Campaign_2025_0008,2025-01-11,2025-09-02,Social,North America,69052,40676,44216,47580.56,94374.81,Youth,Home,Mobile,2025,2025
8,2025_0009,Campaign_2025_0009,2025-04-08,2025-10-04,Search,Africa,40392,20122,15615,43992.04,7628.78,Seniors,Home,Desktop,2025,2025
9,2025_0010,Campaign_2025_0010,2025-02-10,2025-08-28,Social,Europe,5099,7826,63524,8850.79,86144.40,Youth,Home,Mobile,2025,2025