# Data Cleaning:

---

Data cleaning was executed to resolve data quality issues through deduplication, type correction, missing value handling, categorical normalization, and outlier treatment. The result is a standardized, analysis-ready dataset suitable for feature engineering, analytics, and modeling workflows.

### Objective:
Apply corrections identified during quality assessment to ensure a reliable analytical dataset.

---

### Tasks:

- Remove duplicate rows
- Handle missing values
- Drop only when justified
- Impute using mean/median/forward fill when appropriate
- Standardize field naming convention
- Convert to snake_case
- Normalize categorical values
- Example: unify case and spelling:
    - “fb”, “FB”, “Facebook” → Facebook
    - Address outliers
- Remove, cap, or transform based on statistical justification
- Save cleaned dataset to /data/processed/marketing_campaigns_cleaned.csv

### Outcome:

A consistent, analysis-ready dataset to support feature engineering, EDA, and modeling

---

## Ingest Data:

### Import Libraries:

In [126]:
#Libraries
    
import pandas as pd
import os

### Ingest Data as DF:

In [127]:
#LOAD DATA
#LOAD 1ST CSV - 2024 FILE

# df1 = pd.read_csv("../data/raw/marketing_campaign_2024.csv")
# df2 = pd.read_csv("../data/raw/marketing_campaign_2025.csv")
df3 = pd.read_csv("../data/raw/marketing_campaign_jul_dec_2024.csv")


df = pd.read_csv("../data/processed/marketing_campaign_all_interim.csv")

### Brief Overview:

In [128]:
print("Combined dataset shape: ", df.shape)
print(df.info())
print(df.describe())
df.head(10)

Combined dataset shape:  (1000, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       1000 non-null   object
 1   campaign_name     1000 non-null   object
 2   start_date        1000 non-null   object
 3   end_date          1000 non-null   object
 4   channel           1000 non-null   object
 5   region            1000 non-null   object
 6   impressions       1000 non-null   int64
 7   clicks            1000 non-null   int64
 8   conversions       1000 non-null   int64
 9   spend_usd         1000 non-null   float64
 10  revenue_usd       1000 non-null   float64
 11  target_audience   1000 non-null   object
 12  product_category  1000 non-null   object
 13  device            1000 non-null   object
 14  year              1000 non-null   int64
 15  dataset_year      1000 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 125.1+ KB
None
        impressions        clicks   conversions     spend_usd   revenue_usd  \
count   1000.000000   1000.000000   1000.000000   1000.000000    1000.00000
mean   50075.412000  44862.473000  42468.303000  25358.839820   75321.01858
std    28512.620883  25846.779215  24712.813169  13952.667198   43363.78566
min     1034.000000     86.000000     30.000000   1066.110000    1098.66000
25%    24678.500000  22991.500000  20419.750000  13671.762500   38452.37750
50%    49806.500000  44616.500000  41554.000000  25147.255000   74563.21000
75%    73741.000000  66172.750000  64576.000000  37092.840000  113662.25000
max    99915.000000  89865.000000  84983.000000  49908.450000  149713.74000

             year  dataset_year
count  1000.00000    1000.00000
mean   2024.50000    2024.50000
std       0.50025       0.50025
min    2024.00000    2024.00000
25%    2024.00000    2024.00000
50%    2024.50000    2024.50000
75%    2025.00000    2025.00000
max    2025.00000    2025.00000

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year,dataset_year
0,2024_0001,Campaign_2024_0001,2024-05-16,2024-08-16,Search,South America,28252,5609,65466,39193.43,79017.74,Youth,Electronics,Desktop,2024,2024
1,2024_0002,Campaign_2024_0002,2024-04-06,2024-10-13,Search,Asia,89608,83584,26865,17291.53,49868.54,Adults,Home,Mobile,2024,2024
2,2024_0003,Campaign_2024_0003,2024-05-08,2024-11-27,Social,Europe,37853,62661,43662,6729.63,63021.28,Seniors,Electronics,Desktop,2024,2024
3,2024_0004,Campaign_2024_0004,2024-01-28,2024-08-03,Display,Africa,10577,41421,75023,15077.58,133106.71,Seniors,Clothing,Desktop,2024,2024
4,2024_0005,Campaign_2024_0005,2024-02-06,2024-08-23,Social,Asia,84039,56010,11283,16877.69,144736.99,Adults,Home,Mobile,2024,2024
5,2024_0006,Campaign_2024_0006,2024-02-11,2024-12-19,Search,Europe,46728,87560,69277,6698.46,105523.82,Adults,Travel,Mobile,2024,2024
6,2024_0007,Campaign_2024_0007,2024-05-07,2024-09-03,Search,Asia,24269,4485,39619,8269.18,113563.46,Seniors,Home,Mobile,2024,2024
7,2024_0008,Campaign_2024_0008,2024-03-01,2024-09-13,Search,South America,45499,20267,8609,4110.73,59552.89,Seniors,Home,Desktop,2024,2024
8,2024_0009,Campaign_2024_0009,2024-03-15,2024-07-31,Print,Asia,14398,79811,62095,14214.98,74892.62,Adults,Services,Mobile,2024,2024
9,2024_0010,Campaign_2024_0010,2024-03-07,2024-10-15,Social,Africa,18278,57806,55147,17466.57,38287.83,Youth,Home,Mobile,2024,2024

## marketing_campaign_jul_dec_2024:

In [129]:
df3.info()
df3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       600 non-null    object
 1   campaign_name     600 non-null    object
 2   start_date        600 non-null    object
 3   end_date          600 non-null    object
 4   channel           600 non-null    object
 5   region            600 non-null    object
 6   impressions       600 non-null    int64
 7   clicks            600 non-null    int64
 8   conversions       600 non-null    int64
 9   spend_usd         600 non-null    float64
 10  revenue_usd       600 non-null    float64
 11  target_audience   600 non-null    object
 12  product_category  600 non-null    object
 13  device            600 non-null    object
 14  year              600 non-null    int64
dtypes: float64(2), int64(4), object(9)
memory usage: 70.4+ KB

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year
0,2024_JULDEC_0001,Campaign_2024_JULDEC_0001,2024-07-10,2024-07-31,Search,Europe,24385241,307898,56583,1056702.86,1164697.77,Youth,Electronics,Tablet,2024
1,2024_JULDEC_0002,Campaign_2024_JULDEC_0002,2024-07-03,2024-07-09,Search,Asia,27244138,1216843,169062,1359657.06,1980384.49,Youth,Home,Mobile,2024
2,2024_JULDEC_0003,Campaign_2024_JULDEC_0003,2024-07-15,2024-07-31,Search,Europe,14639940,498731,86369,866443.70,1274312.42,Seniors,Services,Desktop,2024
3,2024_JULDEC_0004,Campaign_2024_JULDEC_0004,2024-07-01,2024-07-11,Search,Africa,16002001,166211,18265,841981.47,1103735.61,Youth,Services,Desktop,2024
4,2024_JULDEC_0005,Campaign_2024_JULDEC_0005,2024-07-13,2024-07-18,Search,Asia,17198804,410285,81059,897092.98,1297082.81,Seniors,Home,Mobile,2024

#### Column Standardization DF3:¶

In [130]:

for d in [df3]:
    d.columns = (
        d.columns.str.lower()
        .str.strip()
        .str.replace(" ", "_")
    )

#### Add Dataset Source Column:

In [131]:
df3["dataset_year"] = df3["year"]

In [132]:
print(df3["dataset_year"].head())
print(df3["dataset_year"].tail()) # NO 2025 DATA HERE LOOKS GOOD TO ME

0    2024
1    2024
2    2024
3    2024
4    2024
Name: dataset_year, dtype: int64
595    2024
596    2024
597    2024
598    2024
599    2024
Name: dataset_year, dtype: int64

In [133]:
df3.shape

(600, 16)

In [134]:
df.shape

(1000, 16)

## Concatenation of Dataset:

In [135]:
df = pd.concat([df, df3], ignore_index=True)

### Validate:

In [136]:
#validate

df["dataset_year"].value_counts()
df.shape

(1600, 16)

In [137]:
#The result

print("Combined dataset shape: ", df.shape)
print(df.info())
print(df.describe())
df.head(10)

Combined dataset shape:  (1600, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       1600 non-null   object
 1   campaign_name     1600 non-null   object
 2   start_date        1600 non-null   object
 3   end_date          1600 non-null   object
 4   channel           1600 non-null   object
 5   region            1600 non-null   object
 6   impressions       1600 non-null   int64
 7   clicks            1600 non-null   int64
 8   conversions       1600 non-null   int64
 9   spend_usd         1600 non-null   float64
 10  revenue_usd       1600 non-null   float64
 11  target_audience   1600 non-null   object
 12  product_category  1600 non-null   object
 13  device            1600 non-null   object
 14  year              1600 non-null   int64
 15  dataset_year      1600 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 200.1+ KB
None
        impressions        clicks    conversions     spend_usd   revenue_usd  \
count  1.600000e+03  1.600000e+03    1600.000000  1.600000e+03  1.600000e+03
mean   9.901441e+06  3.187145e+05   61888.129375  5.041624e+05  7.033241e+05
std    1.347480e+07  4.205891e+05   46764.243494  6.455870e+05  8.576692e+05
min    1.034000e+03  8.600000e+01      30.000000  1.066110e+03  1.098660e+03
25%    4.064875e+04  3.605975e+04   29626.250000  2.099655e+04  6.096436e+04
50%    7.967800e+04  7.221550e+04   53441.000000  3.989504e+04  1.200899e+05
75%    2.230887e+07  5.621965e+05   78710.750000  1.142335e+06  1.515330e+06
max    4.790869e+07  2.077258e+06  319184.000000  1.994265e+06  3.066293e+06

              year  dataset_year
count  1600.000000   1600.000000
mean   2024.312500   2024.312500
std       0.463657      0.463657
min    2024.000000   2024.000000
25%    2024.000000   2024.000000
50%    2024.000000   2024.000000
75%    2025.000000   2025.000000
max    2025.000000   2025.000000

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year,dataset_year
0,2024_0001,Campaign_2024_0001,2024-05-16,2024-08-16,Search,South America,28252,5609,65466,39193.43,79017.74,Youth,Electronics,Desktop,2024,2024
1,2024_0002,Campaign_2024_0002,2024-04-06,2024-10-13,Search,Asia,89608,83584,26865,17291.53,49868.54,Adults,Home,Mobile,2024,2024
2,2024_0003,Campaign_2024_0003,2024-05-08,2024-11-27,Social,Europe,37853,62661,43662,6729.63,63021.28,Seniors,Electronics,Desktop,2024,2024
3,2024_0004,Campaign_2024_0004,2024-01-28,2024-08-03,Display,Africa,10577,41421,75023,15077.58,133106.71,Seniors,Clothing,Desktop,2024,2024
4,2024_0005,Campaign_2024_0005,2024-02-06,2024-08-23,Social,Asia,84039,56010,11283,16877.69,144736.99,Adults,Home,Mobile,2024,2024
5,2024_0006,Campaign_2024_0006,2024-02-11,2024-12-19,Search,Europe,46728,87560,69277,6698.46,105523.82,Adults,Travel,Mobile,2024,2024
6,2024_0007,Campaign_2024_0007,2024-05-07,2024-09-03,Search,Asia,24269,4485,39619,8269.18,113563.46,Seniors,Home,Mobile,2024,2024
7,2024_0008,Campaign_2024_0008,2024-03-01,2024-09-13,Search,South America,45499,20267,8609,4110.73,59552.89,Seniors,Home,Desktop,2024,2024
8,2024_0009,Campaign_2024_0009,2024-03-15,2024-07-31,Print,Asia,14398,79811,62095,14214.98,74892.62,Adults,Services,Mobile,2024,2024
9,2024_0010,Campaign_2024_0010,2024-03-07,2024-10-15,Social,Africa,18278,57806,55147,17466.57,38287.83,Youth,Home,Mobile,2024,2024

## THE COLUMNS:

### Chanel Standardization:

In [138]:
# CHANNEL STANDARDIZATION
# WELL REPLACED THOSE MANUAL TAGGING OF CHANNEL, I WILL MAKE RECOMENDATION TO UPDATE THAT EXCELL FILE THET ARE USING TOMORROW

channel_mapping = {
    "Search": "Google Ads",
    "Social": "Facebook Ads",
    "Display": "Google Display Network",
    "Print": "TikTok Ads",
    "Email": "Email"  # unchanged
}

# Apply mapping
df['channel'] = df['channel'].replace(channel_mapping)

In [139]:
# VALIDATE

print(df["channel"].unique())
df.head()

['Google Ads' 'Facebook Ads' 'Google Display Network' 'TikTok Ads' 'Email']

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year,dataset_year
0,2024_0001,Campaign_2024_0001,2024-05-16,2024-08-16,Google Ads,South America,28252,5609,65466,39193.43,79017.74,Youth,Electronics,Desktop,2024,2024
1,2024_0002,Campaign_2024_0002,2024-04-06,2024-10-13,Google Ads,Asia,89608,83584,26865,17291.53,49868.54,Adults,Home,Mobile,2024,2024
2,2024_0003,Campaign_2024_0003,2024-05-08,2024-11-27,Facebook Ads,Europe,37853,62661,43662,6729.63,63021.28,Seniors,Electronics,Desktop,2024,2024
3,2024_0004,Campaign_2024_0004,2024-01-28,2024-08-03,Google Display Network,Africa,10577,41421,75023,15077.58,133106.71,Seniors,Clothing,Desktop,2024,2024
4,2024_0005,Campaign_2024_0005,2024-02-06,2024-08-23,Facebook Ads,Asia,84039,56010,11283,16877.69,144736.99,Adults,Home,Mobile,2024,2024

### Standardize Column Names:

In [140]:
# df1.columns = df1.columns.str.lower().str.strip().str.replace(' ', '_')
# df2.columns = df2.columns.str.lower().str.strip().str.replace(' ', '_')

# # for df in [df1, df2]:
# for df in [df]:
df.columns = (
        df.columns.str.lower()
        .str.strip()
        .str.replace(" ", "_")
    )

In [141]:
df.columns

Index(['campaign_id', 'campaign_name', 'start_date', 'end_date', 'channel',
       'region', 'impressions', 'clicks', 'conversions', 'spend_usd',
       'revenue_usd', 'target_audience', 'product_category', 'device', 'year',
       'dataset_year'],
      dtype='object')

### Remove duplicates:

In [142]:
#Remove Duplicates

# for df in [df1, df2]:
# for df in [df]:
df.drop_duplicates(subset=["campaign_id"], inplace=True)

In [143]:
# DUPLICATES 

duplicates = df[df['campaign_id'].duplicated()]
print("Duplicate campaign IDs:", len(duplicates))

Duplicate campaign IDs: 0

### Unique Values:

In [144]:
numbers = df.select_dtypes(include="number")
numbers.head()

,impressions,clicks,conversions,spend_usd,revenue_usd,year,dataset_year
0,28252,5609,65466,39193.43,79017.74,2024,2024
1,89608,83584,26865,17291.53,49868.54,2024,2024
2,37853,62661,43662,6729.63,63021.28,2024,2024
3,10577,41421,75023,15077.58,133106.71,2024,2024
4,84039,56010,11283,16877.69,144736.99,2024,2024

In [145]:
numbers = df.select_dtypes(exclude="number")
numbers.head()

,campaign_id,campaign_name,start_date,end_date,channel,region,target_audience,product_category,device
0,2024_0001,Campaign_2024_0001,2024-05-16,2024-08-16,Google Ads,South America,Youth,Electronics,Desktop
1,2024_0002,Campaign_2024_0002,2024-04-06,2024-10-13,Google Ads,Asia,Adults,Home,Mobile
2,2024_0003,Campaign_2024_0003,2024-05-08,2024-11-27,Facebook Ads,Europe,Seniors,Electronics,Desktop
3,2024_0004,Campaign_2024_0004,2024-01-28,2024-08-03,Google Display Network,Africa,Seniors,Clothing,Desktop
4,2024_0005,Campaign_2024_0005,2024-02-06,2024-08-23,Facebook Ads,Asia,Adults,Home,Mobile

In [146]:
# Check for unique_values in columns for duplicates and posible wrong spelling 

unique_values1 = df["channel"].unique()
unique_values2 = df["region"].unique()
unique_values3 = df["target_audience"].unique()
unique_values4 = df["product_category"].unique()
unique_values5 = df["device"].unique()

print("channel Unique values:",       unique_values1)
print("region Unique values:",       unique_values2)
print("target_audience Unique values:",      unique_values3)
print("product_category Unique values:",       unique_values4)
print("device Unique values:",       unique_values5)

channel Unique values: ['Google Ads' 'Facebook Ads' 'Google Display Network' 'TikTok Ads' 'Email']
region Unique values: ['South America' 'Asia' 'Europe' 'Africa' 'North America']
target_audience Unique values: ['Youth' 'Adults' 'Seniors']
product_category Unique values: ['Electronics' 'Home' 'Clothing' 'Travel' 'Services']
device Unique values: ['Desktop' 'Mobile' 'Tablet']

## Fix data types:

### Convert Data types - Dates, Float & Numeric:

In [147]:
# update on date time data types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       1600 non-null   object
 1   campaign_name     1600 non-null   object
 2   start_date        1600 non-null   object
 3   end_date          1600 non-null   object
 4   channel           1600 non-null   object
 5   region            1600 non-null   object
 6   impressions       1600 non-null   int64
 7   clicks            1600 non-null   int64
 8   conversions       1600 non-null   int64
 9   spend_usd         1600 non-null   float64
 10  revenue_usd       1600 non-null   float64
 11  target_audience   1600 non-null   object
 12  product_category  1600 non-null   object
 13  device            1600 non-null   object
 14  year              1600 non-null   int64
 15  dataset_year      1600 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 200.1+ KB

#### Date Convertion:

In [148]:
# for df in [df]:

df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')
df['end_date'] = pd.to_datetime(df['end_date'], errors='coerce')
df['spend_usd'] = pd.to_numeric(df['spend_usd'], errors='coerce')
df['revenue_usd'] = pd.to_numeric(df['revenue_usd'], errors='coerce')
    
# df['dataset_year'] = pd.to_datetime(df['dataset_year'], errors='coerce')

#### Date Chronological Validity:

In [149]:
# Look for invalid dates

invalid_dates = df[df['end_date'] < df['start_date']]
print(f"Invalid date ranges: {len(invalid_dates)}")

Invalid date ranges: 0

#### Date_Time Features:

In [150]:
# Time Features

df['campaign_duration_days'] = (df['end_date'] - df['start_date']).dt.days
df['month'] = df['start_date'].dt.month
df['quarter'] = df['start_date'].dt.quarter

In [151]:
# Observe changes in df

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             1600 non-null   object
 1   campaign_name           1600 non-null   object
 2   start_date              1600 non-null   datetime64[ns]
 3   end_date                1600 non-null   datetime64[ns]
 4   channel                 1600 non-null   object
 5   region                  1600 non-null   object
 6   impressions             1600 non-null   int64
 7   clicks                  1600 non-null   int64
 8   conversions             1600 non-null   int64
 9   spend_usd               1600 non-null   float64
 10  revenue_usd             1600 non-null   float64
 11  target_audience         1600 non-null   object
 12  product_category        1600 non-null   object
 13  device                  1600 non-null   object
 14  year                    1600 non-null   int64
 15  dataset_year            1600 non-null   int64
 16  campaign_duration_days  1600 non-null   int64
 17  month                   1600 non-null   int32
 18  quarter                 1600 non-null   int32
dtypes: datetime64[ns](2), float64(2), int32(2), int64(6), object(7)
memory usage: 225.1+ KB

## MIssing Values:

### Impute missing metrics (replace NA/blank with 0):

In [152]:
#Missing Values NA

# # for df in [df1, df2]:
# for df in [df]:
df.fillna({
        'impressions': 0,
        'clicks': 0,
        'conversions': 0,
        'spend_usd': 0,
        'revenue_usd': 0
    }, inplace=True)

In [153]:
# FIND NA VALUES

df.isna().sum()

campaign_id               0
campaign_name             0
start_date                0
end_date                  0
channel                   0
region                    0
impressions               0
clicks                    0
conversions               0
spend_usd                 0
revenue_usd               0
target_audience           0
product_category          0
device                    0
year                      0
dataset_year              0
campaign_duration_days    0
month                     0
quarter                   0
dtype: int64

In [159]:
# FIND NULL VALUES

df.isnull().sum()

campaign_id               0
campaign_name             0
start_date                0
end_date                  0
channel                   0
region                    0
impressions               0
clicks                    0
conversions               0
spend_usd                 0
revenue_usd               0
target_audience           0
product_category          0
device                    0
year                      0
dataset_year              0
campaign_duration_days    0
month                     0
quarter                   0
dtype: int64

### Overview of Changes made:

In [155]:
#The result

print("Combined dataset shape: ", df.shape)
print(df.info())
print(df.describe())
df.head(10)

Combined dataset shape:  (1600, 19)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             1600 non-null   object
 1   campaign_name           1600 non-null   object
 2   start_date              1600 non-null   datetime64[ns]
 3   end_date                1600 non-null   datetime64[ns]
 4   channel                 1600 non-null   object
 5   region                  1600 non-null   object
 6   impressions             1600 non-null   int64
 7   clicks                  1600 non-null   int64
 8   conversions             1600 non-null   int64
 9   spend_usd               1600 non-null   float64
 10  revenue_usd             1600 non-null   float64
 11  target_audience         1600 non-null   object
 12  product_category        1600 non-null   object
 13  device                  1600 non-null   object
 14  year                    1600 non-null   int64
 15  dataset_year            1600 non-null   int64
 16  campaign_duration_days  1600 non-null   int64
 17  month                   1600 non-null   int32
 18  quarter                 1600 non-null   int32
dtypes: datetime64[ns](2), float64(2), int32(2), int64(6), object(7)
memory usage: 225.1+ KB
None
                start_date                       end_date   impressions  \
count                 1600                           1600  1.600000e+03
mean   2024-09-28 20:26:42  2025-01-24 00:19:48.000000256  9.901441e+06
min    2024-01-01 00:00:00            2024-07-02 00:00:00  1.034000e+03
25%    2024-05-24 00:00:00            2024-09-07 18:00:00  4.064875e+04
50%    2024-09-23 00:00:00            2024-11-14 00:00:00  7.967800e+04
75%    2025-02-07 06:00:00            2025-08-05 06:00:00  2.230887e+07
max    2025-06-30 00:00:00            2025-12-31 00:00:00  4.790869e+07
std                    NaN                            NaN  1.347480e+07

             clicks    conversions     spend_usd   revenue_usd         year  \
count  1.600000e+03    1600.000000  1.600000e+03  1.600000e+03  1600.000000
mean   3.187145e+05   61888.129375  5.041624e+05  7.033241e+05  2024.312500
min    8.600000e+01      30.000000  1.066110e+03  1.098660e+03  2024.000000
25%    3.605975e+04   29626.250000  2.099655e+04  6.096436e+04  2024.000000
50%    7.221550e+04   53441.000000  3.989504e+04  1.200899e+05  2024.000000
75%    5.621965e+05   78710.750000  1.142335e+06  1.515330e+06  2025.000000
max    2.077258e+06  319184.000000  1.994265e+06  3.066293e+06  2025.000000
std    4.205891e+05   46764.243494  6.455870e+05  8.576692e+05     0.463657

       dataset_year  campaign_duration_days       month      quarter
count   1600.000000             1600.000000  1600.00000  1600.000000
mean    2024.312500              117.161875     5.78875     2.258750
min     2024.000000                4.000000     1.00000     1.000000
25%     2024.000000               16.000000     3.00000     1.000000
50%     2024.000000              117.500000     5.00000     2.000000
75%     2025.000000              197.000000     8.25000     3.000000
max     2025.000000              364.000000    12.00000     4.000000
std        0.463657               98.510645     3.35856     1.083989

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year,dataset_year,campaign_duration_days,month,quarter
0,2024_0001,Campaign_2024_0001,2024-05-16,2024-08-16,Google Ads,South America,28252,5609,65466,39193.43,79017.74,Youth,Electronics,Desktop,2024,2024,92,5,2
1,2024_0002,Campaign_2024_0002,2024-04-06,2024-10-13,Google Ads,Asia,89608,83584,26865,17291.53,49868.54,Adults,Home,Mobile,2024,2024,190,4,2
2,2024_0003,Campaign_2024_0003,2024-05-08,2024-11-27,Facebook Ads,Europe,37853,62661,43662,6729.63,63021.28,Seniors,Electronics,Desktop,2024,2024,203,5,2
3,2024_0004,Campaign_2024_0004,2024-01-28,2024-08-03,Google Display Network,Africa,10577,41421,75023,15077.58,133106.71,Seniors,Clothing,Desktop,2024,2024,188,1,1
4,2024_0005,Campaign_2024_0005,2024-02-06,2024-08-23,Facebook Ads,Asia,84039,56010,11283,16877.69,144736.99,Adults,Home,Mobile,2024,2024,199,2,1
5,2024_0006,Campaign_2024_0006,2024-02-11,2024-12-19,Google Ads,Europe,46728,87560,69277,6698.46,105523.82,Adults,Travel,Mobile,2024,2024,312,2,1
6,2024_0007,Campaign_2024_0007,2024-05-07,2024-09-03,Google Ads,Asia,24269,4485,39619,8269.18,113563.46,Seniors,Home,Mobile,2024,2024,119,5,2
7,2024_0008,Campaign_2024_0008,2024-03-01,2024-09-13,Google Ads,South America,45499,20267,8609,4110.73,59552.89,Seniors,Home,Desktop,2024,2024,196,3,1
8,2024_0009,Campaign_2024_0009,2024-03-15,2024-07-31,TikTok Ads,Asia,14398,79811,62095,14214.98,74892.62,Adults,Services,Mobile,2024,2024,138,3,1
9,2024_0010,Campaign_2024_0010,2024-03-07,2024-10-15,Facebook Ads,Africa,18278,57806,55147,17466.57,38287.83,Youth,Home,Mobile,2024,2024,222,3,1

## Keep Changes - Save files as CSV to data/procesed folder:

In [156]:
#Save 3 files:
#1st - marketing_campaign_2024_clean.cs
#2nd - marketing_campaign_2025_clean.csv
#3rd - marketing_campaign_all_clean.csv
#The library os is truely a useful tool :)


os.makedirs("../data/processed", exist_ok=True)

# df1.to_csv("../data/processed/marketing_campaign_2024_clean.csv", index=False)
# df2.to_csv("../data/processed/marketing_campaign_2025_clean.csv", index=False)
df.to_csv("../data/processed/marketing_campaign_all_clean.csv", index=False)

## Cleaning Summary:

### Overview:

The data cleaning phase focused on consolidating, standardizing, and validating marketing campaign data from multiple periods (2024–2025). This ensured data consistency and readiness for downstream feature engineering and modeling.

### Key Steps Performed:

#### Data Consolidation:
- Merged base dataset with marketing_campaign_jul_dec_2024 extension.
- Verified merged dataset shape: (1600, 16) records and columns.
- Confirmed no missing values or column mismatches after concatenation.

#### Column and Data Type Validation:
- Ensured all date fields (start_date, end_date) were converted to datetime64
- Confirmed appropriate numeric and object types for campaign metrics and metadata.

#### Channel Standardization:
- Applied the updated mapping to unify channel naming conventions:

---

### Confirmed and Approved Changes:

#### Does Email Channel having clicks?
- Yes, email campaigns typically have clicks.
- Example: someone opens a marketing email and clicks a link (landing page, CTA button)
- Justification line for documentation:

Per owner email campaigns should include click events when recipients interact with links inside the email, so tracking clicks is meaningful for performance attribution. (they should have click thats what she said)

---


#### Google Display Network (GDN)
- GDN absolutely has clicks.
- Google Display Network = display banner ads on millions of partner websites, YouTube, apps, etc.
- It tracks:
    - impressions
    - clicks
    - conversions
    - spend

So clicks are valid here too

---

#### Summary of confirmed & Approved changes: 

| Old Channel | New Channel               | Clicks Expected | My Notes                    |
|--------------|---------------------------|----------------|-----------------------------|
| Search       | Google Ads                | Yes            | Search campaigns            |
| Social       | Facebook Ads              | Yes            | Paid social                 |
| Display      | Google Display Network    | Yes            | Display ads click-through   |
| Print        | TikTok Ads                | Yes            | Modern paid media           |
| Email        | Keep (still valid)*       | Yes            | Link click tracking         |


This step ensured uniform representation of marketing channels for aggregation and modeling.

---



#### Integrity Checks:
- Verified no missing values across all columns.
- Confirmed unique campaign identifiers (campaign_id).
- Checked that end_date > start_date for all rows.
- Reviewed basic descriptive statistics for spend, revenue, and engagement metrics.

#### Date - Time Period Validation:
- Confirmed dataset coverage: 2024–2025.
- Validated dataset_year column values (min: 2024, max: 2025).
- Detected mid-year campaign pause (Jul–Oct 2024); flagged for business confirmation or modeling exclusion.

#### Exports:
- Clean datasets were saved for analysis and modeling

### Conclusion

All marketing campaign data for 2024–2025 has been fully standardized, validated, and consolidated.
The dataset is now clean and ready for the Feature Engineering phase (04_feature_engineering.ipynb), where derived variables, ratios, and model-ready transformations will be applied.