# DATA INGESTION

Goal: Bring raw data into your project environment.
Tasks:

Load CSVs (marketing_campaign_2024.csv, marketing_campaign_2025.csv)

Combine them into one dataset (if needed, using pd.concat)

Do very light sanity checks (row counts, column names)

Save into /data/raw/

## marketing_campaign_2024.csv

In [31]:
import pandas as pd

In [83]:
#LOAD DATA
#LOAD 1ST CSV - 2024 FILE

df1 = pd.read_csv("./data/raw/marketing_campaign_2024.csv")

In [84]:
df1.head()

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year
0,2024_0001,Campaign_2024_0001,2024-02-06,2024-10-29,Print,North America,98331,7575,5651,5388.54,16034.82,Youth,Electronics,Tablet,2024
1,2024_0002,Campaign_2024_0002,2024-01-31,2024-04-13,Social,Asia,7434,2848,542,25115.44,29488.38,Youth,Electronics,Tablet,2024
2,2024_0003,Campaign_2024_0003,2024-01-13,2024-07-17,Email,Asia,93676,67404,32708,47090.84,65441.18,Adults,Electronics,Tablet,2024
3,2024_0004,Campaign_2024_0004,2024-01-02,2024-03-03,Email,Europe,46596,34586,17099,6856.25,17325.38,Adults,Services,Mobile,2024
4,2024_0005,Campaign_2024_0005,2024-04-24,2024-11-24,Email,Africa,61629,1750,584,1888.24,2351.42,Adults,Services,Mobile,2024

In [86]:
df1.shape

(500, 15)

In [87]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       500 non-null    object
 1   campaign_name     500 non-null    object
 2   start_date        500 non-null    object
 3   end_date          500 non-null    object
 4   channel           500 non-null    object
 5   region            500 non-null    object
 6   impressions       500 non-null    int64
 7   clicks            500 non-null    int64
 8   conversions       500 non-null    int64
 9   spend_usd         500 non-null    float64
 10  revenue_usd       500 non-null    float64
 11  target_audience   500 non-null    object
 12  product_category  500 non-null    object
 13  device            500 non-null    object
 14  year              500 non-null    int64
dtypes: float64(2), int64(4), object(9)
memory usage: 58.7+ KB

# marketing_campaign_2025.csv

In [69]:
#LOAD DATA
#LOAD 2nd CSV - 2024 FILE

df2 = pd.read_csv("./data/raw/marketing_campaign_2025.csv")

In [70]:
#INSPECT


print(df2.shape)
print(type(df2))
print(df1.keys())
df2.info()
df2.head()

(500, 15)
<class 'pandas.core.frame.DataFrame'>
Index(['campaign_id', 'campaign_name', 'start_date', 'end_date', 'channel',
       'region', 'impressions', 'clicks', 'conversions', 'spend_usd',
       'revenue_usd', 'target_audience', 'product_category', 'device', 'year'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       500 non-null    object
 1   campaign_name     500 non-null    object
 2   start_date        500 non-null    object
 3   end_date          500 non-null    object
 4   channel           500 non-null    object
 5   region            500 non-null    object
 6   impressions       500 non-null    int64
 7   clicks            500 non-null    int64
 8   conversions       500 non-null    int64
 9   spend_usd         500 non-null    float64
 10  revenue_usd       500 non-null    float64
 11  target_audience   500 non-null    object
 12  product_category  500 non-null    object
 13  device            500 non-null    object
 14  year              500 non-null    int64
dtypes: float64(2), int64(4), object(9)
memory usage: 58.7+ KB

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year
0,2025_0001,Campaign_2025_0001,2025-05-30,2025-10-06,Print,South America,33092,3267,2485,12747.88,24260.57,Youth,Services,Mobile,2025
1,2025_0002,Campaign_2025_0002,2025-06-23,2025-12-17,TV,Asia,50063,2207,1054,24351.47,65194.57,Adults,Clothing,Mobile,2025
2,2025_0003,Campaign_2025_0003,2025-04-15,2025-12-02,TV,South America,30814,7318,2169,27324.66,53196.33,Adults,Electronics,Desktop,2025
3,2025_0004,Campaign_2025_0004,2025-05-13,2025-11-03,Email,Asia,72785,52047,35976,38204.14,91977.80,Youth,Clothing,Desktop,2025
4,2025_0005,Campaign_2025_0005,2025-05-26,2025-12-04,Email,Europe,59706,167,89,26697.21,56977.36,Youth,Food,Mobile,2025

In [71]:
#INSPECT df1 2

#last 5 row of the table

df2.tail()

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year
495,2025_0496,Campaign_2025_0496,2025-03-21,2025-09-18,Search,South America,54981,1821,1620,4340.50,8103.52,Adults,Electronics,Desktop,2025
496,2025_0497,Campaign_2025_0497,2025-05-10,2025-12-28,Print,Europe,58305,49425,48486,15996.46,33505.55,Seniors,Software,Desktop,2025
497,2025_0498,Campaign_2025_0498,2025-01-11,2025-06-08,TV,Africa,19172,6325,4554,20820.60,42293.55,Adults,Food,Tablet,2025
498,2025_0499,Campaign_2025_0499,2025-01-18,2025-02-17,Social,South America,84243,70243,52496,2737.74,6161.48,Youth,Software,Mobile,2025
499,2025_0500,Campaign_2025_0500,2025-02-12,2025-09-09,Search,South America,41871,29689,10324,41143.63,103945.64,Youth,Software,Mobile,2025

In [76]:
#SUMMARY STATS

df2.describe()

,impressions,clicks,conversions,spend_usd,revenue_usd,year
count,500.000000,500.000000,500.00000,500.000000,500.000000,500.0
mean,48981.298000,25124.790000,12680.35200,25378.895520,52460.732060,2025.0
std,28408.353034,21404.656806,14080.19213,13698.226791,32216.083955,0.0
min,1097.000000,53.000000,2.00000,1026.320000,1319.220000,2025.0
25%,24329.750000,7309.250000,2045.75000,13705.635000,25655.915000,2025.0
50%,49664.000000,20210.000000,7164.00000,25365.950000,48480.500000,2025.0
75%,73632.500000,39115.250000,19268.25000,36875.962500,74815.232500,2025.0
max,99540.000000,95222.000000,75619.00000,49747.060000,149018.350000,2025.0

In [77]:
#COUNT OF NULL VALUES

df2.isnull().sum()

campaign_id         0
campaign_name       0
start_date          0
end_date            0
channel             0
region              0
impressions         0
clicks              0
conversions         0
spend_usd           0
revenue_usd         0
target_audience     0
product_category    0
device              0
year                0
dtype: int64

In [78]:
#DUPLICATE ROWS

df2.duplicated().sum()

np.int64(0)

In [79]:
#UNIQUE VALUES

df2.nunique()

campaign_id         500
campaign_name       500
start_date          169
end_date            247
channel               6
region                5
impressions         500
clicks              499
conversions         490
spend_usd           500
revenue_usd         500
target_audience       3
product_category      5
device                3
year                  1
dtype: int64

In [82]:
#just need to onfirm the uniqueness of this column

df2['campaign_id'].is_unique

True