## Data Cleaning

My Goal: Apply the fixes from 01_data_quality.
Tasks:

Remove duplicates

Impute/fix missing values (mean/median, forward fill, drop)

Standardize column names (snake_case)

Fix categorical values (e.g., “fb”, “Facebook”, “FB” → Facebook)

Handle outliers (drop, cap, transform)

Save cleaned dataset → /data/processed/marketing_campaigns_cleaned.csv

In [7]:
#LOAD DATA
#LOAD 1ST CSV - 2024 FILE

df1 = pd.read_csv("../data/raw/marketing_campaign_2024.csv")

In [8]:
df1.head()

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year
0,2024_0001,Campaign_2024_0001,2024-02-06,2024-10-29,Print,North America,98331,7575,5651,5388.54,16034.82,Youth,Electronics,Tablet,2024
1,2024_0002,Campaign_2024_0002,2024-01-31,2024-04-13,Social,Asia,7434,2848,542,25115.44,29488.38,Youth,Electronics,Tablet,2024
2,2024_0003,Campaign_2024_0003,2024-01-13,2024-07-17,Email,Asia,93676,67404,32708,47090.84,65441.18,Adults,Electronics,Tablet,2024
3,2024_0004,Campaign_2024_0004,2024-01-02,2024-03-03,Email,Europe,46596,34586,17099,6856.25,17325.38,Adults,Services,Mobile,2024
4,2024_0005,Campaign_2024_0005,2024-04-24,2024-11-24,Email,Africa,61629,1750,584,1888.24,2351.42,Adults,Services,Mobile,2024