## Data Cleaning

My Goal: Apply the fixes from 01_data_quality.
Tasks:

Remove duplicates

Impute/fix missing values (mean/median, forward fill, drop)

Standardize column names (snake_case)

Fix categorical values (e.g., “fb”, “Facebook”, “FB” → Facebook)

Handle outliers (drop, cap, transform)

Save cleaned dataset → /data/processed/marketing_campaigns_cleaned.csv

In [19]:
#Libraries

import pandas as pd
import os

In [20]:
#LOAD DATA
#LOAD 1ST CSV - 2024 FILE



df1 = pd.read_csv("../data/raw/marketing_campaign_2024.csv")
df2 = pd.read_csv("../data/raw/marketing_campaign_2025.csv")

In [21]:
df1.head()

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year
0,2024_0001,Campaign_2024_0001,2024-05-16,2024-08-16,Search,South America,28252,5609,65466,39193.43,79017.74,Youth,Electronics,Desktop,2024
1,2024_0002,Campaign_2024_0002,2024-04-06,2024-10-13,Search,Asia,89608,83584,26865,17291.53,49868.54,Adults,Home,Mobile,2024
2,2024_0003,Campaign_2024_0003,2024-05-08,2024-11-27,Social,Europe,37853,62661,43662,6729.63,63021.28,Seniors,Electronics,Desktop,2024
3,2024_0004,Campaign_2024_0004,2024-01-28,2024-08-03,Display,Africa,10577,41421,75023,15077.58,133106.71,Seniors,Clothing,Desktop,2024
4,2024_0005,Campaign_2024_0005,2024-02-06,2024-08-23,Social,Asia,84039,56010,11283,16877.69,144736.99,Adults,Home,Mobile,2024

In [22]:
df2.head()

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year
0,2025_0001,Campaign_2025_0001,2025-03-04,2025-07-20,Display,North America,7696,3587,15144,11046.09,117455.53,Seniors,Services,Desktop,2025
1,2025_0002,Campaign_2025_0002,2025-04-05,2025-07-25,Print,Asia,79664,30373,75743,16419.25,92144.07,Youth,Home,Tablet,2025
2,2025_0003,Campaign_2025_0003,2025-03-18,2025-12-06,Print,North America,33324,89728,79251,33333.21,24070.68,Youth,Clothing,Desktop,2025
3,2025_0004,Campaign_2025_0004,2025-03-09,2025-11-02,Search,Asia,32528,33793,4948,14340.82,13570.48,Adults,Travel,Mobile,2025
4,2025_0005,Campaign_2025_0005,2025-05-21,2025-09-28,Email,Africa,80785,35905,36563,37133.14,122995.42,Seniors,Services,Tablet,2025

Standardize Column Names

In [23]:
# df1.columns = df1.columns.str.lower().str.strip().str.replace(' ', '_')
# df2.columns = df2.columns.str.lower().str.strip().str.replace(' ', '_')

for df in [df1, df2]:
    df.columns = (
        df.columns.str.lower()
        .str.strip()
        .str.replace(" ", "_")
    )

In [24]:
df1.columns

Index(['campaign_id', 'campaign_name', 'start_date', 'end_date', 'channel',
       'region', 'impressions', 'clicks', 'conversions', 'spend_usd',
       'revenue_usd', 'target_audience', 'product_category', 'device', 'year'],
      dtype='object')

In [25]:
df2.columns

Index(['campaign_id', 'campaign_name', 'start_date', 'end_date', 'channel',
       'region', 'impressions', 'clicks', 'conversions', 'spend_usd',
       'revenue_usd', 'target_audience', 'product_category', 'device', 'year'],
      dtype='object')

Convert Data types - Dates

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       500 non-null    object
 1   campaign_name     500 non-null    object
 2   start_date        500 non-null    object
 3   end_date          500 non-null    object
 4   channel           500 non-null    object
 5   region            500 non-null    object
 6   impressions       500 non-null    int64
 7   clicks            500 non-null    int64
 8   conversions       500 non-null    int64
 9   spend_usd         500 non-null    float64
 10  revenue_usd       500 non-null    float64
 11  target_audience   500 non-null    object
 12  product_category  500 non-null    object
 13  device            500 non-null    object
 14  year              500 non-null    int64
dtypes: float64(2), int64(4), object(9)
memory usage: 58.7+ KB

In [13]:
for df in [df1, df2]:
    df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')
    df['end_date'] = pd.to_datetime(df['end_date'], errors='coerce')
    df['spend_usd'] = pd.to_numeric(df['spend_usd'], errors='coerce')
    df['revenue_usd'] = pd.to_numeric(df['revenue_usd'], errors='coerce')

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       500 non-null    object
 1   campaign_name     500 non-null    object
 2   start_date        500 non-null    datetime64[ns]
 3   end_date          500 non-null    datetime64[ns]
 4   channel           500 non-null    object
 5   region            500 non-null    object
 6   impressions       500 non-null    int64
 7   clicks            500 non-null    int64
 8   conversions       500 non-null    int64
 9   spend_usd         500 non-null    float64
 10  revenue_usd       500 non-null    float64
 11  target_audience   500 non-null    object
 12  product_category  500 non-null    object
 13  device            500 non-null    object
 14  year              500 non-null    int64
dtypes: datetime64[ns](2), float64(2), int64(4), object(7)
memory usage: 58.7+ KB

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       500 non-null    object
 1   campaign_name     500 non-null    object
 2   start_date        500 non-null    datetime64[ns]
 3   end_date          500 non-null    datetime64[ns]
 4   channel           500 non-null    object
 5   region            500 non-null    object
 6   impressions       500 non-null    int64
 7   clicks            500 non-null    int64
 8   conversions       500 non-null    int64
 9   spend_usd         500 non-null    float64
 10  revenue_usd       500 non-null    float64
 11  target_audience   500 non-null    object
 12  product_category  500 non-null    object
 13  device            500 non-null    object
 14  year              500 non-null    int64
dtypes: datetime64[ns](2), float64(2), int64(4), object(7)
memory usage: 58.7+ KB

MIssing Values

In [17]:
for df in [df1, df2]:
    df.fillna({
        'impressions': 0,
        'clicks': 0,
        'conversions': 0,
        'spend_usd': 0,
        'revenue_usd': 0
    }, inplace=True)

Remove Dups

In [26]:
for df in [df1, df2]:
    df.drop_duplicates(subset=["campaign_id"], inplace=True)

Add Dataset Source Column

In [27]:
df1["dataset_year"] = 2024
df2["dataset_year"] = 2025

In [31]:
df1["dataset_year"][:5]

0    2024
1    2024
2    2024
3    2024
4    2024
Name: dataset_year, dtype: int64

In [32]:
df2["dataset_year"][:5]

0    2025
1    2025
2    2025
3    2025
4    2025
Name: dataset_year, dtype: int64

Cross validation Column count

In [34]:
set(df1.columns) - set(df2.columns)
set(df2.columns) - set(df1.columns)

set()

Combine data set

In [35]:
df = pd.concat([df1, df2], ignore_index=True)

In [36]:
#validate

df["dataset_year"].value_counts()
df.shape

(1000, 16)

Keep Changes - Save files as CSV to data/procesed folder

In [37]:
os.makedirs("../data/processed", exist_ok=True)

df1.to_csv("../data/processed/marketing_campaign_2024_clean.csv", index=False)
df2.to_csv("../data/processed/marketing_campaign_2025_clean.csv", index=False)
df.to_csv("../data/processed/marketing_campaign_all_clean.csv", index=False)

Validation

In [38]:
print(df.shape)
print(df.info())
print(df.describe())
df.head(10)

(1000, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_id       1000 non-null   object
 1   campaign_name     1000 non-null   object
 2   start_date        1000 non-null   object
 3   end_date          1000 non-null   object
 4   channel           1000 non-null   object
 5   region            1000 non-null   object
 6   impressions       1000 non-null   int64
 7   clicks            1000 non-null   int64
 8   conversions       1000 non-null   int64
 9   spend_usd         1000 non-null   float64
 10  revenue_usd       1000 non-null   float64
 11  target_audience   1000 non-null   object
 12  product_category  1000 non-null   object
 13  device            1000 non-null   object
 14  year              1000 non-null   int64
 15  dataset_year      1000 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 125.1+ KB
None
        impressions        clicks   conversions     spend_usd   revenue_usd  \
count   1000.000000   1000.000000   1000.000000   1000.000000    1000.00000
mean   50075.412000  44862.473000  42468.303000  25358.839820   75321.01858
std    28512.620883  25846.779215  24712.813169  13952.667198   43363.78566
min     1034.000000     86.000000     30.000000   1066.110000    1098.66000
25%    24678.500000  22991.500000  20419.750000  13671.762500   38452.37750
50%    49806.500000  44616.500000  41554.000000  25147.255000   74563.21000
75%    73741.000000  66172.750000  64576.000000  37092.840000  113662.25000
max    99915.000000  89865.000000  84983.000000  49908.450000  149713.74000

             year  dataset_year
count  1000.00000    1000.00000
mean   2024.50000    2024.50000
std       0.50025       0.50025
min    2024.00000    2024.00000
25%    2024.00000    2024.00000
50%    2024.50000    2024.50000
75%    2025.00000    2025.00000
max    2025.00000    2025.00000

,campaign_id,campaign_name,start_date,end_date,channel,region,impressions,clicks,conversions,spend_usd,revenue_usd,target_audience,product_category,device,year,dataset_year
0,2024_0001,Campaign_2024_0001,2024-05-16,2024-08-16,Search,South America,28252,5609,65466,39193.43,79017.74,Youth,Electronics,Desktop,2024,2024
1,2024_0002,Campaign_2024_0002,2024-04-06,2024-10-13,Search,Asia,89608,83584,26865,17291.53,49868.54,Adults,Home,Mobile,2024,2024
2,2024_0003,Campaign_2024_0003,2024-05-08,2024-11-27,Social,Europe,37853,62661,43662,6729.63,63021.28,Seniors,Electronics,Desktop,2024,2024
3,2024_0004,Campaign_2024_0004,2024-01-28,2024-08-03,Display,Africa,10577,41421,75023,15077.58,133106.71,Seniors,Clothing,Desktop,2024,2024
4,2024_0005,Campaign_2024_0005,2024-02-06,2024-08-23,Social,Asia,84039,56010,11283,16877.69,144736.99,Adults,Home,Mobile,2024,2024
5,2024_0006,Campaign_2024_0006,2024-02-11,2024-12-19,Search,Europe,46728,87560,69277,6698.46,105523.82,Adults,Travel,Mobile,2024,2024
6,2024_0007,Campaign_2024_0007,2024-05-07,2024-09-03,Search,Asia,24269,4485,39619,8269.18,113563.46,Seniors,Home,Mobile,2024,2024
7,2024_0008,Campaign_2024_0008,2024-03-01,2024-09-13,Search,South America,45499,20267,8609,4110.73,59552.89,Seniors,Home,Desktop,2024,2024
8,2024_0009,Campaign_2024_0009,2024-03-15,2024-07-31,Print,Asia,14398,79811,62095,14214.98,74892.62,Adults,Services,Mobile,2024,2024
9,2024_0010,Campaign_2024_0010,2024-03-07,2024-10-15,Social,Africa,18278,57806,55147,17466.57,38287.83,Youth,Home,Mobile,2024,2024